<% content_for :title, "#{params[:new] ? 'Nouveau' : 'Modifier'} jouet N°#{@toy.id} · RE-PLAY" %>

<div class="container py-4">
  <% if params[:new] %>
    <%= link_to box_path(@toy.box), class: "btn-back-boxes mb-3 d-inline-block" do %>
      <i class="fa-solid fa-circle-arrow-left"></i>
      <i class="fa-solid fa-box btn-back-context-icon"></i>
    <% end %>
  <% else %>
    <%= link_to toy_path(@toy), class: "btn-back-boxes mb-3 d-inline-block" do %>
      <i class="fa-solid fa-circle-arrow-left"></i>
      <i class="fa-solid fa-puzzle-piece btn-back-context-icon"></i>
    <% end %>
  <% end %>


  <div class="detail-card p-4">
    <div class="d-flex align-items-center gap-3 mb-1">
      <h1 class="toy-show-title" style="font-size:1.6rem;"><%= params[:new] ? 'Nouveau jouet' : "Modifier le jouet" %> N°<%= @toy.id %></h1>
    </div>
    <% if @toy.category %>
      <p style="font-size:1.15rem; font-weight:700; color:#1A2B4A; margin-bottom:1rem;"><%= @toy.category.name %></p>
    <% end %>

    <%= render "form" %>
  </div>
</div>
