<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= content_for(:title) || "RE-PLAY · Enjoué" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="application-name" content="RE-PLAY">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_importmap_tags %>
    <link rel="manifest" href="<%= pwa_manifest_path %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <header>
      <%= render "shared/navbar" %>
    </header>

    <main id="main-content">
      <%= yield %>
    </main>

    <%= render "shared/flashes" %>
  </body>
</html>
